openapi: 3.1.0
info:
  title: Saturation API
  version: 1.0.0
  description: 'Read and write production finance data in Saturation. Authenticate with a personal token in the `Authorization`
    header: `Bearer <token>`. Create a token under Settings > Developers > API. Each token belongs to one workspace.

    Conventions:

    - Successful responses contain the requested resource. Lists contain `data` and an optional `nextCursor`. Errors contain
    `success`, `code`, `message`, and `requestId`.

    - Money uses integer minor units and an ISO-4217 currency, for example `{ "amount": 152900, "currency": "USD" }`. Dates
    use ISO 8601.

    - Lists default to 50 items and allow up to 100. Pass `nextCursor` as `cursor` for the next page. Set `withCount=true`
    to include the total count.

    - `404 not_found` means the resource does not exist or is not available to the token.'
  contact:
    name: Saturation API
    url: https://docs.saturation.io
  license:
    name: Proprietary
    url: https://saturation.io/terms
servers:
- url: https://next-api.saturation.io/v1
  description: Production
- url: http://localhost:4300/v1
  description: Local development
security:
- bearerAuth: []
tags:
- name: Meta
  description: Identity and workspace for the current token.
- name: Projects
  description: Create and manage projects.
- name: Spaces
  description: Folders that group projects in a workspace.
- name: Contacts
  description: Vendors, crew, and other workspace contacts.
- name: Tokens
  description: List and revoke API tokens.
- name: Library
  description: Reusable budget items for a workspace or project.
- name: Budget
  description: Budget lines, phases, phase data, and totals.
- name: Transactions
  description: Financial transactions and their items.
- name: Purchase Orders
  description: Purchase orders, items, approvals, payments, and history.
- name: Payment Requests
  description: Requests to pay a person or company. A request stays separate from the payment that follows.
- name: Payments
  description: Payments from request through settlement, with linked records and a Timeline.
- name: Documents
  description: Upload documents, read their content, and link them to other resources.
- name: Search
  description: Search transactions, documents, contacts, and budget lines.
- name: Comments
  description: Comments within a project.
- name: Webhook Subscriptions
  description: Subscribe to events and review webhook deliveries.
paths:
  /projects/{projectId}/budget:
    get:
      operationId: budget_get
      summary: Get a budget
      description: Returns the budget's visible phases, totals, lines, and editable phase data. Use `path` or `accountId`
        to select an account and its descendants. Use `parentId` to build the line tree.
      tags:
      - Budget
      parameters:
      - $ref: '#/components/parameters/projectId'
      - name: path
        in: query
        required: false
        description: Select this account path and its descendants, such as `1100/1110`.
        schema:
          type: string
      - name: accountId
        in: query
        required: false
        description: Select this account number and its descendants. An account number used by multiple lines returns `409
          account_code_ambiguous`.
        schema:
          type: string
      - name: phase
        in: query
        required: false
        description: Select a visible phase by ID, alias, name, or type. An ambiguous value returns `400 validation`.
        schema:
          type: string
      - name: If-None-Match
        in: header
        required: false
        description: A previous `ETag`. Returns `304 Not Modified` when the budget is unchanged.
        schema:
          type: string
      responses:
        '200':
          description: The budget document.
          headers:
            ETag:
              description: A value for a later `If-None-Match` request.
              schema:
                type: string
            Cache-Control:
              description: How long the response may be cached.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetDocument'
        '304':
          description: Budget unchanged.
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
        '413':
          $ref: '#/components/responses/Error413'
        '429':
          $ref: '#/components/responses/Error429'
        '504':
          $ref: '#/components/responses/Error504'
  /projects/{projectId}/budget/totals:
    get:
      operationId: budget_getTotals
      summary: Get budget totals
      description: Returns totals at `computedAt`. Use `phase`, `accountId`, or `path` to select part of the budget.
      tags:
      - Budget
      parameters:
      - $ref: '#/components/parameters/projectId'
      - name: phase
        in: query
        required: false
        description: Select a phase by ID or type, such as `estimate`.
        schema:
          type: string
        example: estimate
      - name: accountId
        in: query
        required: false
        description: Select this account number and its descendants.
        schema:
          type: string
        example: '1100'
      - name: path
        in: query
        required: false
        description: Select this account path and its descendants, such as `1100/1110`.
        schema:
          type: string
        example: 1100/1110
      - name: If-None-Match
        in: header
        required: false
        description: A previous `ETag`. Returns `304 Not Modified` when the totals are unchanged.
        schema:
          type: string
      responses:
        '200':
          description: The budget totals.
          headers:
            ETag:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetTotals'
        '304':
          description: Totals unchanged.
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
        '413':
          $ref: '#/components/responses/Error413'
        '429':
          $ref: '#/components/responses/Error429'
        '504':
          $ref: '#/components/responses/Error504'
  /projects/{projectId}/budget/lines:
    get:
      operationId: budget_listLines
      summary: List budget lines
      description: Returns budget lines that match all filters. Use `expand` to include contacts, phase totals, or phase data.
        Use the budget endpoint to get the full budget in one response.
      tags:
      - Budget
      parameters:
      - $ref: '#/components/parameters/projectId'
      - name: accountId
        in: query
        required: false
        description: Only lines with this account number. An account number may match multiple lines.
        schema:
          type: string
        example: '1100'
      - name: path
        in: query
        required: false
        description: Only the line at this account path, such as `1100/1110`. An ambiguous path returns `409 account_path_ambiguous`.
        schema:
          type: string
        example: 1100/1110
      - name: tags
        in: query
        required: false
        description: Only lines with these comma-separated tag IDs or names.
        schema:
          type: string
        example: vfx
      - name: tagMode
        in: query
        required: false
        description: How multiple `tags` values are combined.
        schema:
          $ref: '#/components/schemas/TagMode'
      - name: type
        in: query
        required: false
        description: Only lines with these comma-separated types.
        schema:
          type: string
        example: line,account
      - $ref: '#/components/parameters/budgetLineExpand'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/withCount'
      responses:
        '200':
          description: A page of budget lines.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                additionalProperties: false
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BudgetLine'
                  nextCursor:
                    $ref: '#/components/schemas/NextCursor'
                  count:
                    type: integer
                    description: Total matching lines; present only when `withCount=true`.
                  truncated:
                    type: boolean
                    description: Whether the page ended before `limit` because some results were unavailable.
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
        '429':
          $ref: '#/components/responses/Error429'
    post:
      operationId: budget_createLine
      summary: Create a budget line
      description: Creates a budget line under `parentId`, with optional phase data keyed by phase ID.
      tags:
      - Budget
      parameters:
      - $ref: '#/components/parameters/projectId'
      - name: Idempotency-Key
        in: header
        required: true
        description: A 16 to 255 character key for safe retries. Reusing the key with a different request returns `409 idempotency_conflict`.
        schema:
          type: string
          minLength: 16
          maxLength: 255
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BudgetLineCreate'
      responses:
        '201':
          description: The created budget line.
          headers:
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetLine'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
  /projects/{projectId}/budget/lines/bulk:
    post:
      operationId: budget_createLinesBulk
      summary: Create budget lines
      description: Creates up to 100 budget lines with optional phase data. If any line fails, none are created. Use `Idempotency-Key`
        to retry safely.
      tags:
      - Budget
      parameters:
      - $ref: '#/components/parameters/projectId'
      - name: Idempotency-Key
        in: header
        required: true
        description: A 16 to 255 character key for safe retries. Reusing the key with a different request returns `409 idempotency_conflict`.
        schema:
          type: string
          minLength: 16
          maxLength: 255
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BudgetLineBulkCreate'
      responses:
        '201':
          description: The created budget lines in request order.
          headers:
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetLineBulkCreateResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
  /projects/{projectId}/budget/lines/phase-data/bulk:
    post:
      operationId: budget_updateLinePhaseDataBulk
      summary: Update phase data for budget lines
      description: Updates up to 500 line and phase entries. If any entry fails, none are changed. Use `Idempotency-Key` to
        retry safely.
      tags:
      - Budget
      parameters:
      - $ref: '#/components/parameters/projectId'
      - name: Idempotency-Key
        in: header
        required: true
        description: A 16 to 255 character key for safe retries. Reusing the key with a different request returns `409 idempotency_conflict`.
        schema:
          type: string
          minLength: 16
          maxLength: 255
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BudgetLinePhaseDataBulkUpsert'
      responses:
        '200':
          description: The updated phase data.
          headers:
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetLinePhaseDataBulkUpsertResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
        '429':
          $ref: '#/components/responses/Error429'
  /projects/{projectId}/budget/lines/{lineId}:
    get:
      operationId: budget_getLine
      summary: Get a budget line
      tags:
      - Budget
      parameters:
      - $ref: '#/components/parameters/projectId'
      - name: lineId
        in: path
        required: true
        description: The budget line ID.
        schema:
          $ref: '#/components/schemas/Id'
      - $ref: '#/components/parameters/budgetLineExpand'
      responses:
        '200':
          description: The budget line.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetLine'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
    patch:
      operationId: budget_updateLine
      summary: Update a budget line
      description: Updates a budget line and optional phase data. Omitted fields remain unchanged.
      tags:
      - Budget
      parameters:
      - $ref: '#/components/parameters/projectId'
      - name: lineId
        in: path
        required: true
        description: The budget line ID.
        schema:
          $ref: '#/components/schemas/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BudgetLineUpdate'
      responses:
        '200':
          description: The updated budget line.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetLine'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
    delete:
      operationId: budget_deleteLine
      summary: Delete a budget line
      description: Deletes a budget line.
      tags:
      - Budget
      parameters:
      - $ref: '#/components/parameters/projectId'
      - name: lineId
        in: path
        required: true
        description: The budget line ID.
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '204':
          description: Budget line deleted.
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
  /projects/{projectId}/budget/lines/{lineId}/phase-data/{phaseId}:
    put:
      operationId: budget_updateLinePhaseData
      summary: Update phase data for a budget line
      description: Updates one line and phase entry. Omitted fields remain unchanged. Null clears a nullable field.
      tags:
      - Budget
      parameters:
      - $ref: '#/components/parameters/projectId'
      - name: lineId
        in: path
        required: true
        description: The budget line ID.
        schema:
          $ref: '#/components/schemas/Id'
      - name: phaseId
        in: path
        required: true
        description: The phase ID.
        schema:
          $ref: '#/components/schemas/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BudgetLinePhaseDataUpsert'
      responses:
        '200':
          description: The updated phase data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetLinePhaseDataUpsertResponse'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
  /projects/{projectId}/budget/phases:
    get:
      operationId: budget_listPhases
      summary: List budget phases
      description: Returns the budget's visible and hidden phases.
      tags:
      - Budget
      parameters:
      - $ref: '#/components/parameters/projectId'
      responses:
        '200':
          description: The budget phases.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                additionalProperties: false
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BudgetPhase'
                  nextCursor:
                    $ref: '#/components/schemas/NextCursor'
                  count:
                    type: integer
                    description: Total results when `withCount=true`.
                  truncated:
                    type: boolean
                    description: Whether the page ended before `limit` because some results were unavailable.
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
    post:
      operationId: budget_createPhase
      summary: Create a budget phase
      description: Adds a phase to the budget.
      tags:
      - Budget
      parameters:
      - name: Idempotency-Key
        in: header
        required: true
        description: A 16 to 255 character key for safe retries. Reusing the key with a different request returns `409 idempotency_conflict`.
        schema:
          type: string
          minLength: 16
          maxLength: 255
      - $ref: '#/components/parameters/projectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - type
              - name
              additionalProperties: false
              properties:
                type:
                  $ref: '#/components/schemas/PhaseType'
                name:
                  type: string
                  maxLength: 255
                alias:
                  type: string
                  maxLength: 64
                color:
                  type: string
                  maxLength: 32
                isHidden:
                  type: boolean
                displayDecimals:
                  type:
                  - integer
                  - 'null'
                  minimum: 0
                  maximum: 4
                baseCurrencyId:
                  type:
                  - string
                  - 'null'
                actualDateStart:
                  type:
                  - string
                  - 'null'
                  format: date
                actualDateEnd:
                  type:
                  - string
                  - 'null'
                  format: date
                actualStatuses:
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
                actualSourceTypes:
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
                actualCurrencies:
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
                    minLength: 3
                    maxLength: 3
                actualContactId:
                  type:
                  - string
                  - 'null'
                actualTagIds:
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
                actualBudgetLineIds:
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
                estimateTagIds:
                  type: array
                  items:
                    type: string
                overtimeFactors:
                  type: array
                  items:
                    type: string
                    enum:
                    - qty
                    - x
                committedDateStart:
                  type:
                  - string
                  - 'null'
                  format: date
                committedDateEnd:
                  type:
                  - string
                  - 'null'
                  format: date
                committedContactId:
                  type:
                  - string
                  - 'null'
                committedPhaseIds:
                  type: array
                  items:
                    type: string
                committedPoStatuses:
                  type: array
                  items:
                    type: string
                    enum:
                    - approved
                    - paymentRequested
                    - paymentRejected
                    - paymentProcessing
                derivedFromPhaseId:
                  type: string
                  description: 'The estimate phase to use as the starting point. Both phases must have `type: estimate`.'
                copyValues:
                  type: boolean
                  description: Whether to copy values from `derivedFromPhaseId`. Defaults to `true`.
                rollupFormula:
                  type: string
                  maxLength: 2000
                  pattern: ^(?:@\{[\w-]+\}|@[\w-]+|[\d\s+\-*/().,%])*$
                  description: A formula for a `rollup` phase. Reference phases as `@{phaseId}` and combine them with `+`
                    or `-`. A rollup without a formula totals 0.
                rollupDisplayMode:
                  type:
                  - string
                  - 'null'
                  enum:
                  - value
                  - percent
                  - bars
                  - margin
                  - null
            example:
              type: estimate
              name: Scenario B
              derivedFromPhaseId: ph_1a2b
      responses:
        '201':
          description: The created phase.
          headers:
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetPhase'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
  /projects/{projectId}/budget/phases/{phaseId}:
    get:
      operationId: budget_getPhase
      summary: Get a budget phase
      tags:
      - Budget
      parameters:
      - $ref: '#/components/parameters/projectId'
      - name: phaseId
        in: path
        required: true
        description: The phase ID.
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '200':
          description: The phase.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetPhase'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
    patch:
      operationId: budget_updatePhase
      summary: Update a budget phase
      description: Updates a budget phase. Omitted fields remain unchanged.
      tags:
      - Budget
      parameters:
      - $ref: '#/components/parameters/projectId'
      - name: phaseId
        in: path
        required: true
        description: The phase ID.
        schema:
          $ref: '#/components/schemas/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              minProperties: 1
              properties:
                name:
                  type: string
                  maxLength: 255
                alias:
                  type: string
                  maxLength: 64
                color:
                  type:
                  - string
                  - 'null'
                  maxLength: 32
                isHidden:
                  type: boolean
                displayDecimals:
                  type:
                  - integer
                  - 'null'
                  minimum: 0
                  maximum: 4
                baseCurrencyId:
                  type:
                  - string
                  - 'null'
                actualDateStart:
                  type:
                  - string
                  - 'null'
                  format: date
                actualDateEnd:
                  type:
                  - string
                  - 'null'
                  format: date
                actualStatuses:
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
                actualSourceTypes:
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
                actualCurrencies:
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
                    minLength: 3
                    maxLength: 3
                actualContactId:
                  type:
                  - string
                  - 'null'
                actualTagIds:
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
                actualBudgetLineIds:
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
                estimateTagIds:
                  type: array
                  items:
                    type: string
                overtimeFactors:
                  type: array
                  items:
                    type: string
                    enum:
                    - qty
                    - x
                committedDateStart:
                  type:
                  - string
                  - 'null'
                  format: date
                committedDateEnd:
                  type:
                  - string
                  - 'null'
                  format: date
                committedContactId:
                  type:
                  - string
                  - 'null'
                committedPhaseIds:
                  type: array
                  items:
                    type: string
                committedPoStatuses:
                  type: array
                  items:
                    type: string
                    enum:
                    - approved
                    - paymentRequested
                    - paymentRejected
                    - paymentProcessing
                rollupFormula:
                  type:
                  - string
                  - 'null'
                  maxLength: 2000
                  pattern: ^(?:@\{[\w-]+\}|@[\w-]+|[\d\s+\-*/().,%])*$
                  description: The formula for a `rollup` phase. Reference phases as `@{phaseId}` and combine them with `+`
                    or `-`. Null clears the formula.
                rollupDisplayMode:
                  type:
                  - string
                  - 'null'
                  enum:
                  - value
                  - percent
                  - bars
                  - margin
                  - null
      responses:
        '200':
          description: The updated phase.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetPhase'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
    delete:
      operationId: budget_deletePhase
      summary: Delete a budget phase
      description: Deletes the phase and its budget column. Delete estimate phases only when removing their data. Rename or
        reorder a phase to reorganize the budget.
      tags:
      - Budget
      parameters:
      - $ref: '#/components/parameters/projectId'
      - name: phaseId
        in: path
        required: true
        description: The phase ID.
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '204':
          description: Budget phase deleted.
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
  /documents:
    post:
      operationId: documents_upload
      tags:
      - Documents
      summary: Upload a document
      description: Upload a document and optionally link it to targets with `metadata.links`. Each target must have a different
        `kind`. If any link fails, the document is not created. This operation is billable. Use `Idempotency-Key` to retry
        safely.
      parameters:
      - name: Idempotency-Key
        in: header
        required: true
        description: A 16 to 255 character key for safe retries. Reusing the key with different content returns `409 idempotency_conflict`.
        schema:
          type: string
          minLength: 16
          maxLength: 255
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DocumentCreateRequest'
            encoding:
              metadata:
                contentType: text/plain
      responses:
        '201':
          description: The created document and its links.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
    get:
      operationId: documents_list
      tags:
      - Documents
      summary: List documents
      description: Returns up to 100 documents per page. Use filters to narrow the results.
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/order'
      - $ref: '#/components/parameters/withCount'
      - name: folder
        in: query
        required: false
        description: Only documents in this folder.
        schema:
          $ref: '#/components/schemas/Id'
      - name: linkedTo
        in: query
        required: false
        description: Only documents linked to this target. Use `kind:id`, such as `transaction:txn_8f2a1c9e`.
        schema:
          type: string
          pattern: ^(project|contact|transaction|payment|purchaseOrder|budgetLine|paymentRequest):.+$
        examples:
          byTransaction:
            value: transaction:txn_8f2a1c9e
      - name: unassigned
        in: query
        required: false
        description: When `true`, only documents with no links.
        schema:
          type: boolean
      - name: project
        in: query
        required: false
        description: Only documents in this project.
        schema:
          $ref: '#/components/schemas/Id'
      - name: status
        in: query
        required: false
        description: Only documents with this processing status.
        schema:
          $ref: '#/components/schemas/DocumentStatus'
      - name: classification
        in: query
        required: false
        description: Only documents with this classification.
        schema:
          type: string
      - name: coarseType
        in: query
        required: false
        description: Only documents in this category.
        schema:
          $ref: '#/components/schemas/DocumentCoarseType'
      - name: q
        in: query
        required: false
        description: Search document names and descriptions.
        schema:
          type: string
      responses:
        '200':
          description: A page of documents.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentCollection'
              examples:
                page:
                  value:
                    data:
                    - id: doc_4b1f0a7c
                      name: vendor-invoice-0425.pdf
                      mimeType: application/pdf
                      size: 184320
                      status: ready
                      workspaceId: ws_71aa
                      projectId: prj_71aa
                      links:
                      - kind: transaction
                        id: txn_8f2a1c9e
                      createdAt: '2026-05-28T14:03:11Z'
                      updatedAt: '2026-05-28T14:03:40Z'
                    nextCursor: eyJpZCI6ImRvY180YjFmMGE3YyJ9
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
  /documents/{documentId}:
    get:
      operationId: documents_get
      tags:
      - Documents
      summary: Get a document
      parameters:
      - name: documentId
        in: path
        required: true
        description: The document ID.
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '200':
          description: The document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
    patch:
      operationId: documents_update
      tags:
      - Documents
      summary: Update a document
      description: Update the document's name, description, or folder. Use the links endpoint to change its links.
      parameters:
      - name: documentId
        in: path
        required: true
        description: The document ID.
        schema:
          $ref: '#/components/schemas/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentUpdateRequest'
            examples:
              rename:
                value:
                  name: vendor-invoice-april.pdf
      responses:
        '200':
          description: The updated document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
    delete:
      operationId: documents_delete
      tags:
      - Documents
      summary: Delete a document
      description: Deletes the document. Safe to retry.
      parameters:
      - name: documentId
        in: path
        required: true
        description: The document ID.
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '204':
          description: Document deleted.
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
  /documents/{documentId}/content:
    get:
      operationId: documents_getContent
      tags:
      - Documents
      summary: Download a document
      description: Returns the file with its stored `mimeType` as the response `Content-Type`.
      parameters:
      - name: documentId
        in: path
        required: true
        description: The document ID.
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '200':
          description: The document file.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
  /documents/{documentId}/links/{kind}:
    parameters:
    - name: documentId
      in: path
      required: true
      description: The document ID.
      schema:
        $ref: '#/components/schemas/Id'
    - name: kind
      in: path
      required: true
      description: The type of target to link.
      schema:
        $ref: '#/components/schemas/DocumentWritableTargetKind'
    put:
      operationId: documents_link
      tags:
      - Documents
      summary: Link a document
      description: Links the document to one target of this kind. Linking the same target again has no effect. Set `replace`
        to change an existing link of this kind.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentLinkRequest'
      responses:
        '200':
          description: The document with updated links.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
    delete:
      operationId: documents_unlink
      tags:
      - Documents
      summary: Remove a document link
      description: Removes the link for this kind. Safe to retry.
      responses:
        '200':
          description: The document with updated links.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
  /documents/{documentId}/extraction:
    get:
      operationId: documents_getExtraction
      tags:
      - Documents
      summary: Get extracted document data
      description: Returns the document's classification, extracted fields, line items, and confidence scores. Available when
        the document status is `ready`. Returns `404 not_found` while extraction is pending or processing. A failed document
        has no extraction.
      parameters:
      - name: documentId
        in: path
        required: true
        description: The document ID.
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '200':
          description: The extracted document data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentExtraction'
              examples:
                invoice:
                  value:
                    documentId: doc_4b1f0a7c
                    status: ready
                    classification: invoice
                    coarseType: financial
                    extractedAt: '2026-05-28T14:03:40Z'
                    fields:
                      invoiceNumber:
                        value: '4471'
                        confidence: 0.98
                      vendorName:
                        value: B&H Photo
                        confidence: 0.95
                      total:
                        value: '1529.00'
                        confidence: 0.91
                      invoiceDate:
                        value: '2026-05-20'
                        confidence: 0.88
                    lineItems:
                    - description: Camera body rental - 3 days
                      amount:
                        amount: 75000
                        currency: USD
                      confidence: 0.86
        '401':
          $ref: '#/components/responses/Error401'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
  /library/rate-packs:
    get:
      operationId: library_listRatePacks
      summary: List rate packs
      description: 'List public and workspace-owned rate packs. Deprecated packs already in use include `deprecated: true`.'
      tags:
      - Library
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/withCount'
      - $ref: '#/components/parameters/ratePackExpand'
      - name: q
        in: query
        required: false
        description: Search pack names, publishers, and tags.
        schema:
          type: string
      - name: category
        in: query
        required: false
        description: Only rate packs in this category.
        schema:
          type: string
      - name: deprecated
        in: query
        required: false
        description: Filter by deprecation state.
        schema:
          type: boolean
      responses:
        '200':
          description: A page of rate packs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatePackCollection'
              example:
                data:
                - id: rpk_2a9f
                  slug: iatse-local-871
                  name: IATSE Local 871
                  category: union
                  tags:
                  - union
                  - scripted
                  visibility: PUBLIC
                  isOwned: false
                  deprecated: false
                  enabled: true
                  latestVersion:
                    id: rpv_1
                    effectiveDate: '2026-01-01'
                    itemCount: 142
                nextCursor: eyJpZCI6InJwa18yYTlmIn0
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '429':
          $ref: '#/components/responses/Error429'
        '404':
          $ref: '#/components/responses/Error404'
    post:
      operationId: library_createRatePack
      summary: Create a rate pack
      description: Create a private rate pack for the workspace. The new pack is enabled automatically.
      tags:
      - Library
      parameters:
      - name: Idempotency-Key
        in: header
        required: true
        description: Unique request key, 16 to 255 characters. Retrying the same request returns the first response. Missing
          or invalid keys return `400 validation`; reuse with a different body returns `409 idempotency_conflict`.
        schema:
          type: string
          minLength: 16
          maxLength: 255
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RatePackCreate'
            example:
              name: My Crew Rates
              category: custom
              tags:
              - crew
      responses:
        '201':
          description: The created rate pack.
          headers:
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatePack'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /library/rate-packs/{packId}:
    get:
      operationId: library_getRatePack
      summary: Get a rate pack
      tags:
      - Library
      parameters:
      - name: packId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      - $ref: '#/components/parameters/ratePackExpand'
      responses:
        '200':
          description: The rate pack.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatePack'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
    patch:
      operationId: library_updateRatePack
      summary: Update a rate pack
      description: Update a workspace-owned rate pack. Other packs return `404 not_found`.
      tags:
      - Library
      parameters:
      - name: packId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RatePackUpdate'
            example:
              name: My Crew Rates 2026
      responses:
        '200':
          description: The updated rate pack.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatePack'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
    delete:
      operationId: library_deleteRatePack
      summary: Delete a rate pack
      description: Delete a workspace-owned rate pack. Repeating the request has no additional effect.
      tags:
      - Library
      parameters:
      - name: packId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '204':
          description: Deleted.
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
  /library/rate-packs/{packId}/enablement:
    post:
      operationId: library_enableRatePack
      summary: Enable a rate pack for the workspace
      description: Make a rate pack available to the workspace. Deprecated packs return `400 validation`; private packs owned
        by another workspace return `404 not_found`.
      tags:
      - Library
      parameters:
      - name: packId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '200':
          description: The enable link.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatePackEnableLink'
              example:
                id: wrp_5
                ratePackId: rpk_2a9f
                enabledAt: '2026-05-28T10:00:00Z'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
    delete:
      operationId: library_disableRatePack
      summary: Disable a rate pack for the workspace
      description: Remove a rate pack from the workspace. Repeating the request has no additional effect.
      tags:
      - Library
      parameters:
      - name: packId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '204':
          description: Disabled.
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
  /library/rate-packs/{packId}/items:
    get:
      operationId: library_listRatePackItems
      summary: List rate pack items
      description: List current items in an available rate pack.
      tags:
      - Library
      parameters:
      - name: packId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/withCount'
      - name: q
        in: query
        required: false
        description: Search item titles and aliases.
        schema:
          type: string
      - name: group
        in: query
        required: false
        description: Only rate pack items in this group.
        schema:
          type: string
      - name: agreement
        in: query
        required: false
        description: Only rate pack items for this agreement.
        schema:
          type: string
      - name: local
        in: query
        required: false
        description: Only rate pack items for this local.
        schema:
          type: string
      - name: unit
        in: query
        required: false
        description: Filter by unit.
        schema:
          type: string
      responses:
        '200':
          description: A page of pack items.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatePackItemCollection'
              example:
                data:
                - id: rpi_9c
                  title: Costume Designer
                  rate:
                    amount: 6500
                    currency: USD
                  unit: Day
                  group: Wardrobe
                  local: '871'
                  labels: []
                nextCursor: null
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
    post:
      operationId: library_createRatePackItem
      summary: Add a rate pack item
      description: Add an item to a workspace-owned rate pack.
      tags:
      - Library
      parameters:
      - name: packId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      - name: Idempotency-Key
        in: header
        required: true
        description: Unique request key, 16 to 255 characters. Retrying the same request returns the first response. Missing
          or invalid keys return `400 validation`; reuse with a different body returns `409 idempotency_conflict`.
        schema:
          type: string
          minLength: 16
          maxLength: 255
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RatePackItemCreate'
            example:
              title: Key Grip
              rate:
                amount: 5800
                currency: USD
              unit: Day
              group: Grip
      responses:
        '201':
          description: The created item.
          headers:
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatePackItem'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
        '409':
          $ref: '#/components/responses/Error409'
  /library/rate-packs/{packId}/items/{itemId}:
    patch:
      operationId: library_updateRatePackItem
      summary: Update a rate pack item
      tags:
      - Library
      parameters:
      - name: packId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      - name: itemId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RatePackItemUpdate'
            example:
              rate:
                amount: 6000
                currency: USD
      responses:
        '200':
          description: The updated item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatePackItem'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
    delete:
      operationId: library_deleteRatePackItem
      summary: Delete a rate pack item
      description: Delete a rate pack item. Repeating the request has no additional effect.
      tags:
      - Library
      parameters:
      - name: packId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      - name: itemId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '204':
          description: Deleted.
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
  /library/incentive-packs:
    get:
      operationId: library_listIncentivePacks
      summary: List incentive packs
      tags:
      - Library
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/withCount'
      - $ref: '#/components/parameters/incentivePackExpand'
      - name: q
        in: query
        required: false
        description: Search incentive packs by name.
        schema:
          type: string
      - name: category
        in: query
        required: false
        description: Only incentive packs in this category.
        schema:
          type: string
      - name: jurisdiction
        in: query
        required: false
        description: Only incentive packs for this jurisdiction.
        schema:
          type: string
      - name: deprecated
        in: query
        required: false
        description: Filter by whether the incentive pack is deprecated.
        schema:
          type: boolean
      responses:
        '200':
          description: A page of incentive packs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncentivePackCollection'
              example:
                data:
                - id: ipk_ga
                  slug: georgia-film-credit
                  name: Georgia Film Tax Credit
                  jurisdiction: US-GA
                  visibility: PUBLIC
                  isOwned: false
                  deprecated: false
                  enabled: true
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '429':
          $ref: '#/components/responses/Error429'
        '404':
          $ref: '#/components/responses/Error404'
  /library/incentive-packs/{packId}:
    get:
      operationId: library_getIncentivePack
      summary: Get an incentive pack
      tags:
      - Library
      parameters:
      - name: packId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      - $ref: '#/components/parameters/incentivePackExpand'
      responses:
        '200':
          description: The incentive pack.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncentivePack'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
  /library/incentive-packs/{packId}/programs:
    get:
      operationId: library_listIncentivePrograms
      summary: List incentive programs
      tags:
      - Library
      parameters:
      - name: packId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/cursor'
      - name: jurisdiction
        in: query
        required: false
        description: Only programs for this jurisdiction.
        schema:
          type: string
      - name: status
        in: query
        required: false
        description: Only programs with this status.
        schema:
          type: string
          enum:
          - published
          - blocked
          - deprecated
      responses:
        '200':
          description: A page of incentive programs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncentiveProgramCollection'
              example:
                data:
                - id: ipr_base
                  name: Base Transferable Credit
                  incentiveType: tax-credit
                  incentiveStructure: transferable
                  status: published
                  currentVersionId: ipv_2026
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
  /library/incentive-packs/{packId}/enablement:
    post:
      operationId: library_enableIncentivePack
      summary: Enable an incentive pack for the workspace
      description: Make an incentive pack available to the workspace. Deprecated packs return `400 validation`; private packs
        owned by another workspace return `404 not_found`.
      tags:
      - Library
      parameters:
      - name: packId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '200':
          description: The enable link.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncentivePackEnableLink'
              example:
                id: wip_3
                incentivePackId: ipk_ga
                enabledAt: '2026-05-28T10:00:00Z'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
    delete:
      operationId: library_disableIncentivePack
      summary: Disable an incentive pack for the workspace
      description: Remove an incentive pack from the workspace. Repeating the request has no additional effect.
      tags:
      - Library
      parameters:
      - name: packId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '204':
          description: Disabled.
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
  /library/fringes:
    get:
      operationId: library_listFringes
      summary: List fringes
      tags:
      - Library
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/withCount'
      - name: q
        in: query
        required: false
        description: Search fringe names.
        schema:
          type: string
      - name: includeDeleted
        in: query
        required: false
        description: Include deleted fringes.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: A page of workspace fringes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FringeCollection'
              example:
                data:
                - id: frg_pr
                  name: Payroll Tax
                  description: Employer payroll tax
                  calculationType: percent
                  rate: 7.65
                  cutoff: null
                  fringeGroupIds: []
                  color: null
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '429':
          $ref: '#/components/responses/Error429'
        '404':
          $ref: '#/components/responses/Error404'
    post:
      operationId: library_createFringe
      summary: Create a fringe
      tags:
      - Library
      parameters:
      - name: Idempotency-Key
        in: header
        required: true
        description: Unique request key, 16 to 255 characters. Retrying the same request returns the first response. Missing
          or invalid keys return `400 validation`; reuse with a different body returns `409 idempotency_conflict`.
        schema:
          type: string
          minLength: 16
          maxLength: 255
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FringeWrite'
            example:
              name: Payroll Tax
              description: Employer payroll tax
              calculationType: percent
              rate: 7.65
      responses:
        '201':
          description: The created fringe.
          headers:
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fringe'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /library/fringes/{fringeId}:
    get:
      operationId: library_getFringe
      summary: Get a fringe
      tags:
      - Library
      parameters:
      - name: fringeId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '200':
          description: The fringe.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fringe'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
    patch:
      operationId: library_updateFringe
      summary: Update a fringe
      tags:
      - Library
      parameters:
      - name: fringeId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FringeWrite'
            example:
              rate: 8
      responses:
        '200':
          description: The updated fringe.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fringe'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
    delete:
      operationId: library_deleteFringe
      summary: Delete a fringe
      description: Delete a workspace fringe. Project fringes created from it remain available.
      tags:
      - Library
      parameters:
      - name: fringeId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '204':
          description: Deleted.
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
  /library/globals:
    get:
      operationId: library_listGlobals
      summary: List globals
      tags:
      - Library
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/withCount'
      - name: q
        in: query
        required: false
        description: Search global names.
        schema:
          type: string
      - name: includeDeleted
        in: query
        required: false
        description: Include deleted globals.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: A page of workspace globals.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalCollection'
              example:
                data:
                - id: gbl_days
                  symbol: SHOOT_DAYS
                  description: Shoot Days
                  formula: '35'
                  unit: Day
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '429':
          $ref: '#/components/responses/Error429'
        '404':
          $ref: '#/components/responses/Error404'
    post:
      operationId: library_createGlobal
      summary: Create a global
      tags:
      - Library
      parameters:
      - name: Idempotency-Key
        in: header
        required: true
        description: Unique request key, 16 to 255 characters. Retrying the same request returns the first response. Missing
          or invalid keys return `400 validation`; reuse with a different body returns `409 idempotency_conflict`.
        schema:
          type: string
          minLength: 16
          maxLength: 255
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GlobalWrite'
            example:
              symbol: SHOOT_DAYS
              description: Shoot Days
              formula: '35'
              unit: Day
      responses:
        '201':
          description: The created global.
          headers:
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Global'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /library/globals/{globalId}:
    get:
      operationId: library_getGlobal
      summary: Get a global
      tags:
      - Library
      parameters:
      - name: globalId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '200':
          description: The global.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Global'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
    patch:
      operationId: library_updateGlobal
      summary: Update a global
      tags:
      - Library
      parameters:
      - name: globalId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GlobalWrite'
            example:
              formula: '40'
      responses:
        '200':
          description: The updated global.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Global'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
    delete:
      operationId: library_deleteGlobal
      summary: Delete a global
      tags:
      - Library
      parameters:
      - name: globalId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '204':
          description: Deleted.
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
  /library/currencies:
    get:
      operationId: library_listCurrencies
      summary: List currencies
      tags:
      - Library
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/withCount'
      - name: q
        in: query
        required: false
        description: Search currency names and codes.
        schema:
          type: string
      - name: includeDeleted
        in: query
        required: false
        description: Include deleted currencies.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: A page of workspace currencies.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyCollection'
              example:
                data:
                - id: cur_gbp
                  code: GBP
                  name: British Pound
                  symbol: "\xA3"
                  rateToUSD: 1.27
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '429':
          $ref: '#/components/responses/Error429'
        '404':
          $ref: '#/components/responses/Error404'
    post:
      operationId: library_createCurrency
      summary: Create a currency
      tags:
      - Library
      parameters:
      - name: Idempotency-Key
        in: header
        required: true
        description: Unique request key, 16 to 255 characters. Retrying the same request returns the first response. Missing
          or invalid keys return `400 validation`; reuse with a different body returns `409 idempotency_conflict`.
        schema:
          type: string
          minLength: 16
          maxLength: 255
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CurrencyWrite'
            example:
              code: GBP
              name: British Pound
              symbol: "\xA3"
              rateToUSD: 1.27
      responses:
        '201':
          description: The created currency.
          headers:
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Currency'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /library/currencies/{currencyId}:
    get:
      operationId: library_getCurrency
      summary: Get a currency
      tags:
      - Library
      parameters:
      - name: currencyId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '200':
          description: The currency.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Currency'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
    patch:
      operationId: library_updateCurrency
      summary: Update a currency
      tags:
      - Library
      parameters:
      - name: currencyId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CurrencyWrite'
            example:
              rateToUSD: 1.31
      responses:
        '200':
          description: The updated currency.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Currency'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
    delete:
      operationId: library_deleteCurrency
      summary: Delete a currency
      tags:
      - Library
      parameters:
      - name: currencyId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '204':
          description: Deleted.
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
  /library/fringe-groups:
    get:
      operationId: library_listFringeGroups
      summary: List fringe groups
      tags:
      - Library
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/withCount'
      - name: q
        in: query
        required: false
        description: Search fringe group names.
        schema:
          type: string
      - name: includeDeleted
        in: query
        required: false
        description: Include deleted fringe groups.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: A page of workspace fringe groups.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FringeGroupCollection'
              example:
                data:
                - id: frt_union
                  name: Union
                  color: blue
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '429':
          $ref: '#/components/responses/Error429'
        '404':
          $ref: '#/components/responses/Error404'
    post:
      operationId: library_createFringeGroup
      summary: Create a fringe group
      tags:
      - Library
      parameters:
      - name: Idempotency-Key
        in: header
        required: true
        description: Unique request key, 16 to 255 characters. Retrying the same request returns the first response. Missing
          or invalid keys return `400 validation`; reuse with a different body returns `409 idempotency_conflict`.
        schema:
          type: string
          minLength: 16
          maxLength: 255
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FringeGroupWrite'
            example:
              name: Union
              color: blue
      responses:
        '201':
          description: The created fringe group.
          headers:
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FringeGroup'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /library/fringe-groups/{fringeGroupId}:
    get:
      operationId: library_getFringeGroup
      summary: Get a fringe group
      tags:
      - Library
      parameters:
      - name: fringeGroupId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '200':
          description: The fringe group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FringeGroup'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
    patch:
      operationId: library_updateFringeGroup
      summary: Update a fringe group
      tags:
      - Library
      parameters:
      - name: fringeGroupId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FringeGroupWrite'
            example:
              color: green
      responses:
        '200':
          description: The updated fringe group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FringeGroup'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
    delete:
      operationId: library_deleteFringeGroup
      summary: Delete a fringe group
      tags:
      - Library
      parameters:
      - name: fringeGroupId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '204':
          description: Deleted.
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
  /library/tags:
    get:
      operationId: library_listTags
      summary: List tags
      tags:
      - Library
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/withCount'
      - name: q
        in: query
        required: false
        description: Search tag names.
        schema:
          type: string
      - name: eligibilityKey
        in: query
        required: false
        description: Only tags with this eligibility key.
        schema:
          type: string
      - name: includeDeleted
        in: query
        required: false
        description: Include deleted tags.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: A page of tags.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagCollection'
              example:
                data:
                - id: tag_atl
                  name: Atlanta
                  color: orange
                  createdAt: '2026-01-02T08:00:00Z'
                  updatedAt: '2026-01-02T08:00:00Z'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '429':
          $ref: '#/components/responses/Error429'
        '404':
          $ref: '#/components/responses/Error404'
    post:
      operationId: library_createTag
      summary: Create a workspace tag
      description: Create a workspace tag. `color` accepts a supported display color or `null`.
      tags:
      - Library
      parameters:
      - name: Idempotency-Key
        in: header
        required: true
        description: Unique request key, 16 to 255 characters. Retrying the same request returns the first response. Missing
          or invalid keys return `400 validation`; reuse with a different body returns `409 idempotency_conflict`.
        schema:
          type: string
          minLength: 16
          maxLength: 255
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagCreate'
            example:
              name: Atlanta
              color: orange
      responses:
        '201':
          description: The created tag.
          headers:
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /library/tags/{tagId}:
    get:
      operationId: library_getTag
      summary: Get a workspace tag
      tags:
      - Library
      parameters:
      - name: tagId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '200':
          description: The tag.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
    patch:
      operationId: library_updateTag
      summary: Update a workspace tag
      tags:
      - Library
      parameters:
      - name: tagId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagUpdate'
            example:
              color: green
      responses:
        '200':
          description: The updated tag.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
    delete:
      operationId: library_deleteTag
      summary: Delete a workspace tag
      description: Delete a tag. Existing historical references remain available.
      tags:
      - Library
      parameters:
      - name: tagId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Id'
      responses:
        '204':
          description: Deleted.
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
          $ref: '#/components/responses/Error429'
  /library/units:
    get:
      operationId: library_listUnits
      summary: List units
      description: List built-in and workspace units. Built-in units are read-only.
      tags:
      - Library
      parameters:
      - name: q
        in: query
        required: false
        description: Search unit names and abbreviations.
        schema:
          type: string
      responses:
        '200':
          description: All units.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnitCollection'
              example:
                data:
                - id: Day
                  label: Day
                  isCustom: false
                - id: cun_box
                  label: Box Rental
                  isCustom: true
                  createdAt: '2026-03-01T08:00:00Z'
                  updatedAt: '2026-03-01T08:00:00Z'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '429':
          $ref: '#/components/responses/Error429'
        '404':
          $ref: '#/components/responses/Error404'
    post:
      operationId: library_createUnit
      summary: Create a unit
      description: Create a workspace unit. Built-in units cannot be changed.
      tags:
      - Library
      parameters:
      - name: Idempotency-Key
        in: header
        required: true
        description: Unique request key, 16 to 255 characters. Retrying the same request returns the first response. Missing
          or invalid keys return `400 validation`; reuse with a different body returns `409 idempotency_conflict`.
        schema:
          type: string
          minLength: 16
          maxLength: 255
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnitCreate'
            example:
              label: Box Rental
      responses:
        '201':
          description: The created unit.
          headers:
            Idempotency-Replayed:
              $ref: '#/components/headers/IdempotencyReplayed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '400':
          $ref: '#/components/responses/Error400'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '422':
          $ref: '#/components/responses/Error422'
        '429':
          $ref: '#/components/responses/Error429'
        '404':
          $ref: '#/components/responses/Error404'
        '409':
          $ref: '#/components/responses/Error409'
  /library/units/{unitId}:
    get:
      operationId: library_getUnit
      summary: Get a unit
      description: Get a built-in or workspace unit.
      tags:
      - Library
      parameters:
      - name: unitId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The unit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Unit'
        '401':
          $ref: '#/components/responses/Error401'
        '402':
          $ref: '#/components/responses/Error402'
        '403':
          $ref: '#/components/responses/Error403'
        '404':
          $ref: '#/components/responses/Error404'
        '429':
[...]
